
{% extends 'base.html' %}

{% block content %}
    <h1 id="center">{{today}}</h1>
        <h1 id="center">{{fscore}}</h1>

      <table class="stars-table">
            <tbody>
              <tr class="sony" id="center">
                  <td>
                      <form method="post" class="nav" id="nav" action="/">
                        <input type="submit" id="arrowl" value="<" name="action2" />
                      </form>
                  </td>
                <td id="center">
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                </td>
                  <td>
                      <form method="post" class="nav" id="nav" action="/">
                        <input type="submit" id="arrowr" value=">" name="action1"/>
                      </form>
                  </td>
              </tr>
            </tbody>
          </table>




        <canvas id="linechart" width="900" height="400"></canvas>
        <script>
            var ctx = document.getElementById("linechart").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
                    datasets: [
                        {
                            label: "Data points",
                            data: [{% for item in values %}
                                {{item}},
                            {% endfor %}],
                            fill: 1,
                            borderColor: "rgb(256,256,256)",
                            lineTension: 0.01
                        }
                    ]
                },

                options: {
                    responsive: true,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'hour'
                            },
                            ticks: {
                            // forces step size to be 50 units
                                    stepSize: 2
                            }

                        },
                        y: {
                            beginAtZero: true,
                            max:100,
                            min:0,
                            ticks: {
                            // forces step size to be 50 units
                                    stepSize: 20
                            }
                        }
                    }
                  }
            });

            const ratings = {sony:{{fscore}}};
            const starsTotal = 5;

            // Run getRatings when DOM loads
            document.addEventListener('DOMContentLoaded', getRatings);
            const button = document.document.getElementById('arrowr')
                    button.disabled = true
            // Get ratings
            function getRatings() {
              for (let rating in ratings) {
                // Get percentage
                const starPercentage = ((-0.00005318*ratings[rating]*ratings[rating]*ratings[rating] +0.01064467*ratings[rating]*ratings[rating] -0.6724028*ratings[rating]+13.7646165) ) * 100;

                // Round to nearest 10
                const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

                // Set width of stars-inner to percentage
                document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;

              }
            }
        </script>


        <table class="table">
            <tr class="table__header">
                {%  for header in headings %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>

            {% for row in data %}
            <tr class="table__row">
                <td class="table__cell">{{ row.0 }}</td>
                <td class="table__cell">{{ row.1 }}</td>
                <td class="table__cell">{{ row.2 }}</td>
                <td class="table__cell">{{ row.3 }}</td>
                <td class="table__cell">{{ row.4 }}</td>
            </tr>
            {%  endfor %}

        </table>
        <h4>Recommendation for this month</h4>
        <table class="table">
            <tr class="table__header">
                {%  for header in headings1 %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>

            {% for row in data1 %}
            <tr class="table__row">
                <td class="table__cell">{{ row.0 }}</td>
                <td class="table__cell">{{ row.1 }}</td>
                <td class="table__cell">{{ row.2 }}</td>
                <td class="table__cell">{{ row.3 }}</td>
                <td class="table__cell">{{ row.4 }}</td>
            </tr>
            {%  endfor %}

        </table>
{% endblock %}