
{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger"  role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
    <section class="hero is-info is-fullheight">
      <div class="form">

            <form method="POST">
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="email" placeholder="Username">
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button">
                    Login
                  </button>
                </p>
              </div>
            </form>
          </div>
  </section>
{% endblock %}